/* setting */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: lightblue;
}
.whatsapp-container{
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  height: calc(100vh - 40px);
  margin: 20px auto;
}
/* left-nav */

.left-nav{
  width: 35%;
}
.header-nav{
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: #eaeaea;
}
.account-img img.avatar{
  width: 50px;
  height: 100%;
}
.simble-container{
  width: 100px;
}
.simble-container ul li{
  display: flex;
  width: calc(100% / 3);
  height: 50px;
}
.simble-container ul li a{
  margin: auto;
  color: #b1b1b1;
}
.simble-list{
 display: flex;
 list-style: none;
}
a{
  text-decoration: none;
}
/* notifiche */

.notifications {
  display: flex;
  align-items: center;
  background-color: lightblue;
  padding-left: 10px;
  height: 70px;
}
.notification-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: lightblue;
  background-color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
}
.notification-text {
  margin-left: 15px;
}
.littlefont{
  font-size: 14px;
  text-decoration: underline;
  color:grey;
}
/* cercachat */

.space{
  margin-left: 10px;
  color: lightgrey;
}
.search-chat{
  height: 40px;
  background-color:#fff;
}
#search{
  height:30px;
  width:90%;
  margin-top: 5px;
  margin-left: 10px;
  border-radius: 2px;
  border-color: lightgrey;
}
.contact-list{
  height: calc(100% - 150px);
  background-color: #e9ebeb;
}
.contact-list ul{
  list-style: none;
}
.contact{
  display: flex;
  width: 100%;
  height: 60px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  background-color: #fff;
  cursor: pointer;
}
.contact.active{
  background-color: lightgrey;
}
.info-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 10px;
  width: calc(100% - 50px);
}
.contact-name{
  display: flex;
  justify-content: space-between;
}
img.avatar{
  width: 60px;
  padding: 5px;
  border-radius: 50%;
}
.lastmessage-color{
  color: grey
}
/* right-nav */

.text-area{
  width: 65%;
  background-color: #fff;
}
.main-right{
  background-image: url(img/mine.jpg);
  height: calc(100% - 120px);
  padding: 50px;
  overflow-y: scroll;
}
/* sezione chat */

.message-row {
  display: flex;
  margin: 10px 0;
}
.message {
  position: relative;
  background-color: white;
  max-width: 350px;
  border-radius: 10px;
  padding: 15px;
}
.message-time {
  position: absolute;
  font-size: 13px;
  bottom: 3px;
  right: 3px;
}
.message-row.sent {
  justify-content: flex-end;
}
.message-row.sent .message {
  background-color: lightgreen;
}
.angle-down{
  position: absolute;
  bottom: 20px;
  right: 3px;
  color: lightgrey;
}
#angle-none{
  display: none;
}
.sub-list{
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  box-shadow: 2px 1px 9px;
  background: white;
  text-align: center;
  padding:10px;
  width: 150px;
  white-space:nowrap;
  display: none;
  z-index: 1;
}
.sub-list a{
  padding:7px;
  color: black;
}
.message:hover #angle-none{
  display: block;
  cursor: pointer;
}
.chat.active{
  display: block;
}
.chat{
  display: none;
}
/* footer */

.footer-right{
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testo{
  height:35px;
  width: 600px;
  border-radius:5px;
  border-color: lightgrey;
}
.icon-dimension{
  width: 50px;
  margin:10px;
  color: grey
}
.fa-microphone{
  margin-left: 21px;
}
/* templates */
.templates{
  display: none;
}
